{% extends 'base.html' %}

{% block content %}
<section class="main-section" id="about"><!--main-section-start-->
  <div class="container">
      <h2>About</h2>
      <h6>What are we all about?</h6>
        <div class="row">
          <div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s">
            Spazza is an online food ordering service that makes it easy to feed the employees working in their offices and in their homes. We simplify the process of ordering meals and paying for those purchases. As a result, we save our clients up to 25 percent on food-related costs and time while making everyone happier and more productive. Perfect for individual employee meals, group orders, lunch catering and catering for corporate meetings and events, Spazza currently feeds several offices within Mombasa town.
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s">


          </div>
        </div>
  </div>
</section><!--main-section-end-->
{% endblock %}