{% extends 'base.html' %}
{% load static %}

{% block content %}
<img src="{% static 'img/logo1.jpg' %}">
<div>
  <div>
    <div>
      <div>
        <a href="https://corporate.seamless.com" target="_blank">
          <img alt="Spazza" title="Spazza">
          <img alt="Corporate Accounts" title="Corporate Accounts">
        </a>
      </div>

            <div>
        <a href="#0.1_"></a>
      </div>

      <div>
        <div>
          <div>
            <ul><li> <a href="https://corporate.seamless.com/faq/" target="_blank">FAQ</a></li>
<li> <a href="https://corporate.seamless.com/blog/" target="_blank">The Scoop</a></li>
<li> <a href="https://get.grubhub.com/" target="_blank">Join our Restaurant Network</a></li>
<li> <a rel="button" href="http://www.seamless.com/corporate/login/" target="_blank">Log In</a></li>
</ul>          </div>
        </div>
      </div>
          </div>
  </div>

  <div style="height:97px"></div>

  
  <div>
    <div></div>
    <div>
      <div>
        <ul><li><a href="https://corporate.seamless.com/faq/" target="_blank">FAQ</a></li>
<li><a href="https://get.grubhub.com/" target="_blank">Join our Restaurant Network</a></li>
<li><a href="https://corporate.seamless.com/blog/" target="_blank">The Scoop</a></li>
<li><a href="http://www.seamless.com/corporate/login/" target="_blank">Log In</a></li>
</ul>        <a href="https://corporate.seamless.com/request-a-free-demo" target="_blank">Request a Free
          Demo</a>
      </div>
    </div>

    <div>
      <div>
        <dl><dd><a href="https://corporate.seamless.com/why-seamless/" target="_blank">Why Seamless</a><a href="#0.1_menu-item-34"></a><div><a href="http:///why-seamless/#feed-your-cravings" target="_blank">Feed Your Cravings</a><br><a href="http:///why-seamless/#order-for-everyone" target="_blank">Order For Everyone</a><br><a href="http:///why-seamless/#hassle-free-invoices" target="_blank">Hassle Free Invoices</a><br>
</div>
</dd><dd><a href="https://corporate.seamless.com/how-it-works/" target="_blank">How it Works</a><a href="#0.1_menu-item-33"></a><div><a href="http:///how-it-works/#account-setup" target="_blank">Account Setup</a><br><a href="http:///how-it-works/#ordering-food" target="_blank">Ordering Food</a><br><a href="http:///how-it-works/#managing-expenses" target="_blank">Managing Expenses</a><br><a href="http:///how-it-works/#faqs" target="_blank">FAQs</a><br>
</div>
</dd><dd><a href="https://corporate.seamless.com/who-uses-us/" target="_blank">Who Uses Us</a><a href="#0.1_menu-item-31"></a><div><a href="http:///who-uses-us/#cities-served" target="_blank">Cities Served</a><br><a href="http:///who-uses-us/#clients-by-industry" target="_blank">Clients By Industry</a><br><a href="http:///who-uses-us/#success-stories" target="_blank">Success Stories</a><br>
</div>
</dd><dd><a href="https://corporate.seamless.com/resource-center/" target="_blank">Resource Center</a></dd><dd><a href="https://corporate.seamless.com/about-us/" target="_blank">About Us</a></dd></dl>      </div>
    </div>
  </div>
</div>



<div>
    <div>
        <ul><li><a href="https://corporate.seamless.com/why-seamless/" target="_blank">Why Seamless</a></li>
<li><a href="https://corporate.seamless.com/how-it-works/" target="_blank">How it Works</a></li>
<li><a href="https://corporate.seamless.com/who-uses-us/" target="_blank">Who Uses Us</a></li>
<li><a href="https://corporate.seamless.com/resource-center/" target="_blank">Resource Center</a></li>
<li><a href="https://corporate.seamless.com/about-us/" target="_blank">About Us</a></li>
</ul>    </div>

    <div>
        <a href="http:///request-a-free-demo/" target="_blank">Request a Free Demo</a>
    </div>
</div>

  



<div style="background-image:url(&#39;https://corporate.seamless.com/wp-content/themes/seamless/assets/img/hero/default.jpg&#39;)">

    <div>
        <div>
            <div>
                                    <h1>About Us</h1>
                
                <h4>We make hungry offices happy.</h4>
            </div>
        </div>

            </div>
</div>


<div></div>
<div>
    	<div>

		<span><span><a href="https://corporate.seamless.com/" target="_blank">Home</a> » <span>About Us</span></span></span>    <div></div>
    
	
			
            						<div>
				<div></div><div><div><div><div><div><h1>About Seamless Corporate Accounts</h1></div></div></div></div><div><div><div><div><h2>The Seamless Team</h2>
<p>Seamless is an online food ordering service that makes it easy to feed the office. We simplify the process of ordering meals and paying for those purchases. As a result, we save our clients up to 30 percent on food-related costs, while making everyone happier and more productive. Perfect for <a href="http://corporate.seamless.com.s172992.gridserver.com/individual-meals/" target="_blank">individual employee meals</a>, <a href="http://corporate.seamless.com.s172992.gridserver.com/group-ordering/" target="_blank">group orders</a>, lunch catering and <a href="http://corporate.seamless.com.s172992.gridserver.com/corporate-catering/" target="_blank">catering for corporate </a>meetings and events, Seamless currently feeds thousands of hungry offices across more than 40 US cities and London.</p>
<h3>We make hungry offices happy.</h3>
<p>We&#39;re committed to making hungry offices happy. We take that mission seriously and that&#39;s good news for you.</p>
<p>From our innovative ordering and billing solution that will save you time, money and hassle to our world-class client support that will exceed your service expectations from Day 1, the Seamless experience is unmatched. We call it Food Happiness and we want to deliver it to you.</p>
<p><img src="//corporate.seamless.com/wp-content/uploads/2015/09/AMTeam2.jpg" alt="Seamless Team" width="450" height="338"></p>
</div></div></div><div><div><div><h2>Contact Us</h2>
<p><a href="http://corporate.seamless.com.s172992.gridserver.com/contact-us/" target="_blank">How can we help you?</a></p>
<h3>Learn more</h3>
<p>Looking for more information on Seamless Corporate Accounts? Fill out our <a href="http://corporate.seamless.com.s172992.gridserver.com/get-started/" target="_blank">Get Started form</a> or email us at <a href="mailto:plateful@seamless.com" target="_blank">plateful@seamless.com</a>. Or you can live chat with us now!</p>
<h3>Client Relations</h3>
<p>NY Office (Hours: Monday to Friday - 8:30AM to 7:00PM (EST))<br> 800.905.9322, option 42 or <a href="mailto:clients@seamless.com" target="_blank">clients@seamless.com</a></p>
<p>UK Office (Hours: 9:00AM - 5:00PM (GMT)) 020 3318 1875 (or free on 0808 189 6559), option 3 or <a href="mailto:UKclients@seamless.com" target="_blank">UKclients@seamless.com</a></p>
<h3>Food &amp; Delivery Issues</h3>
<p>If you have any food or delivery issues and need immediate assistance, contact the restaurant or caterer directly. Your email confirmation always includes the appropriate phone number.</p>
<p> </p>
<p> </p>
</div></div></div></div></div><div></div>			</div>
			
								<p></p>
			
											
	
	
	</div>
	
	<div>
        
        <div></div>
				<div><h6><a href="http:///contact-us/" target="_blank">Contact Us</a></h6>			<div>US 800 905 9322<br>
<div></div>
<br>
<a href="mailto:plateful@seamless.com" target="_blank">plateful@seamless.com</a></div>
		</div><div><div><div><a href="http:///get-started" style="width:177px" target="_blank">Get Started</a></div>
</div></div><div><h6>Resources</h6><div><p><a href="http://corporate.seamless.com.s172992.gridserver.com/request-a-free-demo/" target="_blank">Request a demo »<br>
</a><a href="http://corporate.seamless.com.s172992.gridserver.com/video-about-seamless/" target="_blank">Watch our video »<br>
</a><a href="mailto:plateful@seamless.com" target="_blank">Request Seamless in Your City »</a></p>
</div></div><div><h6>Find Us On</h6>			<div><p></p>

<p><a href="https://twitter.com/seamless" target="_blank">Follow @seamless</a></p></div>
		</div>			</div>

</div>
<div>
  <div>
    <div></div>
    <a href="#0.1_">
      <img src="https://corporate.seamless.com/wp-content/themes/seamless/assets/img/back-to-top.png" alt="Back to Top" title="Back to Top">
      Back to top
    </a>

    <div></div>
  </div>
</div><div>
  <div>
      <div>
          <img src="https://corporate.seamless.com/wp-content/themes/seamless/assets/img/knife-fork.png" alt="Food Happiness, Delivered" title="Food Happiness, Delivered">
          <h4>Food Happiness, Delivered.</h4>
          <h5>
                                Discover how easy feeding your office and managing your company’s food expenses can be with Seamless.
                        </h5>

          <br><br>

          <a href="https://corporate.seamless.com/get-started/" target="_blank">Get Started</a>
      </div>
  </div>
</div>


  <div>
    <div>
      <div>
                <ul>
          <li>
            <a href="https://twitter.com/seamless" target="_blank">
              <img src="https://corporate.seamless.com/wp-content/themes/seamless/assets/img/socials/twitter.png" alt="Twitter" title="Twitter">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/seamless" target="_blank">
              <img src="https://corporate.seamless.com/wp-content/themes/seamless/assets/img/socials/facebook.png" alt="Facebook" title="Facebook">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/grubhub-seamless" target="_blank">
              <img src="https://corporate.seamless.com/wp-content/themes/seamless/assets/img/socials/linkedin.png" alt="LinkedIn" title="LinkedIn">
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/+seamless" target="_blank">
              <img src="https://corporate.seamless.com/wp-content/themes/seamless/assets/img/socials/google-plus.png" alt="Google+" title="Google+">
            </a>
          </li>
        </ul>
      </div>
      <div>
        
        <form target="_blank" onsubmit="try {return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);} catch (e) {return false;}"></form>
        
      </div>
    </div>
  </div>

  <div>
    <div>
      <div></div>
      <a href="https://corporate.seamless.com/contact-us/" target="_blank"><h4>Contact Us</h4></a>

      <p>
                  US 800 905 9322<br>
                <a href="mailto:plateful@seamless.com" target="_blank">plateful@seamless.com</a>
      </p>

      <div></div>

      <div></div>
    </div>
  </div>

  <div>
    <div><h5>Learn More</h5><div><ul><li><a href="https://corporate.seamless.com/why-seamless/" target="_blank">Why Seamless</a></li>
<li><a href="https://corporate.seamless.com/how-it-works/" target="_blank">How it Works</a></li>
<li><a href="https://corporate.seamless.com/who-uses-us/" target="_blank">Who Uses Us</a></li>
<li><a href="https://corporate.seamless.com/about-us/" target="_blank">About Us</a></li>
<li><a href="https://corporate.seamless.com/resource-center/" target="_blank">Resource Center</a></li>
<li><a href="http://corporate.seamless.com.s172992.gridserver.com/savings-calculator/" target="_blank">Savings Calculator</a></li>
</ul></div></div><div><h5>Join Seamless</h5><div><ul><li><a href="https://corporate.seamless.com/get-started/" target="_blank">Get a Corporate Account</a></li>
<li><a href="https://www.seamless.com" target="_blank">Place a Personal Order</a></li>
<li><a href="http://get.grubhub.com/" target="_blank">Join Our Restaurant Network</a></li>
</ul></div></div><div><h5>Cater with Seamless</h5><div><ul><li><a href="https://corporate.seamless.com/corporate-catering/lunch-catering/" target="_blank">Lunch Catering</a></li>
<li><a href="https://corporate.seamless.com/corporate-catering/breakfast-catering/" target="_blank">Breakfast Catering</a></li>
<li><a href="https://corporate.seamless.com/corporate-catering/party-catering/" target="_blank">Office Party Catering</a></li>
<li><a href="http://corporate.seamless.com.s172992.gridserver.com/corporate-catering/" target="_blank">Corporate Catering</a></li>
<li><a href="http://corporate.seamless.com.s172992.gridserver.com/group-ordering/" target="_blank">Group Orders</a></li>
<li><a href="http://corporate.seamless.com.s172992.gridserver.com/individual-meals/" target="_blank">Individual Orders</a></li>
</ul></div></div><div><h5>Contact Us</h5>			<div>US 800 905 9322<br>
<div></div>
<br>
<a href="mailto:plateful@seamless.com" target="_blank">plateful@seamless.com</a></div>
		</div>  </div>

  <div>
    <div><h5>Learn More</h5><div><ul><li><a href="https://corporate.seamless.com/why-seamless/" target="_blank">Why Seamless</a></li>
<li><a href="https://corporate.seamless.com/how-it-works/" target="_blank">How it Works</a></li>
<li><a href="https://corporate.seamless.com/who-uses-us/" target="_blank">Who Uses Us</a></li>
<li><a href="https://corporate.seamless.com/about-us/" target="_blank">About Us</a></li>
<li><a href="https://corporate.seamless.com/resource-center/" target="_blank">Resource Center</a></li>
<li><a href="http://corporate.seamless.com.s172992.gridserver.com/savings-calculator/" target="_blank">Savings Calculator</a></li>
</ul></div></div><div><h5>Join Seamless</h5><div><ul><li><a href="https://corporate.seamless.com/get-started/" target="_blank">Get a Corporate Account</a></li>
<li><a href="https://www.seamless.com" target="_blank">Place a Personal Order</a></li>
<li><a href="http://get.grubhub.com/" target="_blank">Join Our Restaurant Network</a></li>
</ul></div></div><div><h5>Cater with Seamless</h5><div><ul><li><a href="https://corporate.seamless.com/corporate-catering/lunch-catering/" target="_blank">Lunch Catering</a></li>
<li><a href="https://corporate.seamless.com/corporate-catering/breakfast-catering/" target="_blank">Breakfast Catering</a></li>
<li><a href="https://corporate.seamless.com/corporate-catering/party-catering/" target="_blank">Office Party Catering</a></li>
<li><a href="http://corporate.seamless.com.s172992.gridserver.com/corporate-catering/" target="_blank">Corporate Catering</a></li>
<li><a href="http://corporate.seamless.com.s172992.gridserver.com/group-ordering/" target="_blank">Group Orders</a></li>
<li><a href="http://corporate.seamless.com.s172992.gridserver.com/individual-meals/" target="_blank">Individual Orders</a></li>
</ul></div></div>  </div>

  <div>
    <div>
      <div></div>
      <h5>
                  Cities We Serve
              </h5>
      <ul><li><a href="https://corporate.seamless.com/cities/atlanta/" target="_blank">Atlanta</a></li>
<li><a href="https://corporate.seamless.com/cities/boston/" target="_blank">Boston</a></li>
<li><a href="https://corporate.seamless.com/cities/chicago/" target="_blank">Chicago</a></li>
<li><a href="https://corporate.seamless.com/cities/cambridge/" target="_blank">Cambridge</a></li>
<li><a href="https://corporate.seamless.com/cities/dallas/" target="_blank">Dallas</a></li>
<li><a href="http://corporate.seamless.com.s172992.gridserver.com/uk/" target="_blank">London</a></li>
<li><a href="https://corporate.seamless.com/cities/los-angeles/" target="_blank">Los Angeles</a></li>
<li><a href="https://corporate.seamless.com/cities/new-york/" target="_blank">New York City</a></li>
<li><a href="https://corporate.seamless.com/cities/philadelphia/" target="_blank">Philadelphia</a></li>
<li><a href="https://corporate.seamless.com/cities/san-francisco/" target="_blank">San Francisco</a></li>
<li><a href="https://corporate.seamless.com/cities/washington-d-c/" target="_blank">Washington D.C.</a></li>
</ul>
      <hr>

      <div style="width:50%;margin:0;display:inline-block;float:left">© 2018 GrubHub. All Rights Reserved.</div>
      <div style="width:50%;margin:0;display:inline-block;float:right;text-align:right"><a href="//corporate.seamless.com/privacy-policy/" target="_blank">Privacy Policy</a></div>
      <div></div>

    </div>
  </div>


  
  

<a></a>

</div>
</div>













</div>

{% endblock %}
